<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gerald Bot</title>

    <link rel="stylesheet" href="/style/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="/script/app.js"></script>
</head>
<body ng-app="gerald" ng-controller="geraldController">

    {{> sidebar}}

    <section class="content">
      {{{body}}}
    </section>

</body>
</html>
