<h2>Logs</h2>

<button ng-click="$parent.clearLogs()">Clear Logs</button>

<ul class="list">
  <li ng-repeat="log in logs | orderBy: 'time'">
    <!-- <span class="date">{[{log.display_time}]}</span> -->
    <span class="avatar" title="{[{log.username}]}">{[{log.username_short}]}</span>
    <span class="message">{[{log.message}]}</span>
  </li>
</ul>
